/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/*

.progress-bar-container {
  width: 100%;
  background-color: #f3f3f3;
}

.progress-bar {
  width: 0%;
  height: 5px;
  background-color: #4caf50;
  animation: load 3s infinite;
}

@keyframes load {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
*/
.loader-container {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  height: 100vh;
  /* Full viewport height */
}
